.App {
    text-align: left;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 1.6em;
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.nav-link{
    margin-left:20px;
    color:white;
    text-decoration: none;

}
.nav-link:hover{
    color:white;
    background-color: #6d76f7;
    border-radius: 4px;
    transition: all .2s ease-out;
}

.login{

    background-color: lightslategrey;
    width:250px;
    height:280px;
    text-align: center;
    margin-top:20px;

}
.login h4{
    text-align: center;
}
