body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.listInline ul li{
  display : block;
  color:white;

}
.listInline li{
  padding-left: 20px;
}
.listInline a:visited{
  color:white;
}
.listInline a:hover{
  color:#67B7B7;
}
.cadre {
  border: 1px grey;
  border-style: solid;
  margin:20px;
  margin-bottom: 20px;
  background-color:#E2EDED;
  padding:10px;

}
.cadre img {
  margin:0px;
}
.cadre ul li {
  list-style: none;
}

.postulant h3,h4,h5{
  text-align: left;
}
.postulant h5{
  background-color: #67B7B7;
}

.offre h4{
  background-color: #67B7B7;
}
.offre h3,h4,h5{
  text-align: left;
}
.offre ul li{
  color:black;
}

.overlay {
  background: rgba(0,0,0,0.5);
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.wrapper{
  height:90%;
  width: 60%;
  background-color:white;
  color:black;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  font-size: 0.7em;
}
.wrapper button{
  float: right;
  margin-right:20px;
}
.hiddenclass{
  color: transparent;
  text-shadow: 0 0 8px #000;

}
.profilEntreprise{
  margin-left:20px;

}

#ListeConversation thead tr th:nth-child(3){
  border:none;
}


#ListeConversation table{
  display: block;
  height: 600px;
  overflow: hidden;
}
#ListeConversation table tbody tr td:nth-child(2){
  height: 450px;
  width: 600px;
  background-color: aliceblue;
}
#ListeConversation table tbody tr td:first-child{
  background-color: slategray;
}

#ListeConversation table tbody tr td:nth-child(2) ul {
  height: 100%;
  overflow-y: auto;
}

#ListeConversation table,th{
}

#ListeConversation table thead tr:first-child{
  text-align: center;
  background-color: lightslategrey;
}
#ListeConversation td:first-child{
  vertical-align: top;
}
#ListeConversation ul{
  padding:0px;
  margin: 0px;
}
#ListeConversation ul li{
  list-style-type:none;
  text-align: center;
  font-size: initial;
}

#ListeConversation ul li a{
  list-style-type:none;
  text-decoration: none;
  color:white;
}

.customList{
  border:1px solid white;
  margin-bottom:2px;
}
.customList2{
  border-top-left-radius: 15px 15px;
  border-bottom-left-radius: 15px 15px;
  border-top-right-radius: 15px 15px;
  margin-left:15px;
  margin-right:15px;
  margin-bottom: 17px;
}
.customList2 text{

  color:black;
}
.customList button{
  float:right;
  margin-top: 5px;
  font-size: 0.7em;

}
.specialTest{
  vertical-align: top;
    overflow: auto;
  width: 527px;
}

